<!-- wrapper -->

<div id="wrapper">
    

    <!-- REVOLUTION SLIDER -->
    <div id="home" class="slider fullwidthbanner-container roundedcorners">
      <div
        class="fullwidthbanner"
        data-height="600"
        data-shadow="0"
        data-navigationStyle="preview4"
      >
        <ul class="hide">
          <!-- Home slide  -->
          <li
            data-transition="parallaxtobottom"
            data-slotamount="7"
            data-masterspeed="600"
            data-saveperformance="off"
            data-title="Slogan"
          >
            <!-- MAIN IMAGE -->
            <%= image_tag 'left_tube_elevator', alt: 'Futuristic tube elevator', data: { bgposition: 'center top', bgfit: 'cover', bgrepeat: 'no-repeat'  } %>            

            <div
              class="tp-caption white_big skewfromleft tp-resizeme"
              data-x="360"
              data-y="100"
              data-speed="400"
              data-start="1500"
              data-easing="Power3.easeInOut"
              data-splitin="words"
              data-splitout="none"
              data-elementdelay="0.1"
              data-endelementdelay="0.1"
              data-endspeed="600"
              style="z-index: 2; color: #D61A3B; font-size:65px; line-height:85px; font-weight:bold; letter-spacing:0; text-shadow:none;"
            >
              Rocket Elevators
            </div>

            <div
              class="tp-caption content_text_center skewfromleft tp-resizeme"
              data-x="375"
              data-y="195"
              data-speed="500"
              data-start="2000"
              data-easing="Power3.easeInOut"
              data-splitin="none"
              data-splitout="none"
              data-elementdelay="0.1"
              data-endelementdelay="0.1"
              data-endspeed="600"
              style="z-index: 3; font-size:30px; color:#D61A3B; font-weight:300; text-shadow:none;"
            >
              ELEVATE SAFETY, SPEED AND STYLE
            </div>

            <div
              class="tp-caption skewfromleft tp-resizeme  un-button-2-lg"
              data-x="375"
              data-y="410"
              data-speed="300"
              data-start="2500"
              data-easing="Power3.easeInOut"
              data-splitin="none"
              data-splitout="none"
              data-elementdelay="0.1"
              data-endelementdelay="0.1"
              data-endspeed="300"
              style="z-index: 5; max-width: none; max-height: none; white-space: nowrap;"
            >
              <a class="btn btn-danger btn-lg" href="/quote" data-inline=true
                >GET A QUOTE &nbsp; <i class="fa fa-angle-right"></i
              ></a>
              <a class="btn btn-danger btn-lg" href="/#services" data-inline=true
                >OUR SERVICES &nbsp; <i class="fa fa-angle-right"></i
              ></a>
            </div>
          </li>

          <!-- Residential slide  -->
          <li
            data-transition="parallaxtobottom"
            data-slotamount="7"
            data-masterspeed="600"
            data-saveperformance="off"
            data-title="Residential buildings"
          >
            <!-- MAIN IMAGE -->
            <%= image_tag 'wood_panel_elevator', alt: 'Typical residential elevator', data: { bgposition: 'center top', bgfit: 'cover', bgrepeat: 'no-repeat'  } %>            

            <div
              class="tp-caption white_big skewfromleft tp-resizeme"
              data-x="50"
              data-y="100"
              data-speed="400"
              data-start="1500"
              data-easing="Power3.easeInOut"
              data-splitin="words"
              data-splitout="none"
              data-elementdelay="0.1"
              data-endelementdelay="0.1"
              data-endspeed="600"
              style="z-index: 2; color: #D61A3B ; font-size:65px; line-height:85px; font-weight:bold; letter-spacing:0; text-shadow:none;"
            >
              The best residential elevators
            </div>

            <div
              class="tp-caption white_big skewfromleft tp-resizeme"
              data-x="50"
              data-y="175"
              data-speed="400"
              data-start="1500"
              data-easing="Power3.easeInOut"
              data-splitin="words"
              data-splitout="none"
              data-elementdelay="0.1"
              data-endelementdelay="0.1"
              data-endspeed="600"
              style="z-index: 2; color: #D61A3B; font-size:65px; line-height:85px; font-weight:bold; letter-spacing:0; text-shadow:none;"
            >
              services.
            </div>

            <div
              class="tp-caption content_text_center skewfromleft tp-resizeme"
              data-x="70"
              data-y="300"
              data-speed="500"
              data-start="2000"
              data-easing="Power3.easeInOut"
              data-splitin="none"
              data-splitout="none"
              data-elementdelay="0.1"
              data-endelementdelay="0.1"
              data-endspeed="600"
              style="z-index: 3; font-size:24px; color: #D61A3B; font-weight:300; text-shadow:none;"
            >
              If you wish to offer the best living experience!
            </div>


            <div
              class="tp-caption skewfromleft tp-resizeme  un-button-2-lg"
              data-x="70"
              data-y="410"
              data-speed="300"
              data-start="2500"
              data-easing="Power3.easeInOut"
              data-splitin="none"
              data-splitout="none"
              data-elementdelay="0.1"
              data-endelementdelay="0.1"
              data-endspeed="300"
              style="z-index: 5; max-width: none; max-height: none; white-space: nowrap;"
            >
              <a class="btn btn-danger btn-lg" href="/quote"
                >GET A QUOTE &nbsp; <i class="fa fa-angle-right"></i
              ></a>
              <a class="btn btn-danger btn-lg" href="residential.html"
                >RESIDENTIAL SERVICES &nbsp; <i class="fa fa-angle-right"></i
              ></a>
            </div>
          </li>

          <!-- Commercial slide  -->
          <li
            data-transition="parallaxtobottom"
            data-slotamount="7"
            data-masterspeed="600"
            data-saveperformance="off"
            data-title="Commercial buildings"
          >
            <!-- MAIN IMAGE -->
            <%= image_tag 'three_elevators', alt: 'Typical commercial elevator', data: { bgposition: 'center top', bgfit: 'cover', bgrepeat: 'no-repeat'  } %>

            <div class="overlay dark-4"></div>

            <div
              class="tp-caption white_big skewfromleft tp-resizeme"
              data-x="50"
              data-y="100"
              data-speed="400"
              data-start="1500"
              data-easing="Power3.easeInOut"
              data-splitin="words"
              data-splitout="none"
              data-elementdelay="0.1"
              data-endelementdelay="0.1"
              data-endspeed="600"
              style="z-index: 2; color:#fff; font-size:65px; line-height:85px; font-weight:bold; letter-spacing:0; text-shadow:none;"
            >
              For world class professional
            </div>
            <div
              class="tp-caption white_big skewfromleft tp-resizeme"
              data-x="50"
              data-y="175"
              data-speed="400"
              data-start="1500"
              data-easing="Power3.easeInOut"
              data-splitin="words"
              data-splitout="none"
              data-elementdelay="0.1"
              data-endelementdelay="0.1"
              data-endspeed="600"
              style="z-index: 2; color:#fff; font-size:65px; line-height:85px; font-weight:bold; letter-spacing:0; text-shadow:none;"
            >
              elevators services.
            </div>

            <div
              class="tp-caption content_text_center skewfromleft tp-resizeme"
              data-x="70"
              data-y="300"
              data-speed="500"
              data-start="2000"
              data-easing="Power3.easeInOut"
              data-splitin="none"
              data-splitout="none"
              data-elementdelay="0.1"
              data-endelementdelay="0.1"
              data-endspeed="600"
              style="z-index: 3; font-size:20px; color:#fff; font-weight:300; text-shadow:none;"
            >
              Give your bulding the prestige it deserves.
            </div>

            
            <div
              class="tp-caption skewfromleft tp-resizeme  un-button-2-lg"
              data-x="70"
              data-y="410"
              data-speed="300"
              data-start="2500"
              data-easing="Power3.easeInOut"
              data-splitin="none"
              data-splitout="none"
              data-elementdelay="0.1"
              data-endelementdelay="0.1"
              data-endspeed="300"
              style="z-index: 5; max-width: none; max-height: none; white-space: nowrap;"
            >
            <a class="btn btn-danger btn-lg" href="commercial.html"
                >COMMERCIAL SERVICES &nbsp; <i class="fa fa-angle-right"></i
              ></a>
              <a class="btn btn-danger btn-lg" href="/quote"
                >GET A QUOTE &nbsp; <i class="fa fa-angle-right"></i
              ></a>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <!-- /REVOLUTION SLIDER -->

    <hr class="m-0" />

    <!-- CONTACT BUTTON -->
    <a
      href="#contact"
      class="btn btn-xlg btn-primary fs-20 fullwidth m-0 rad-0 p-40"
    >
      <span class="font-lato fs-30">
        Did Rocket Elevators convinced you?
        <strong>Contact us &raquo;</strong>
      </span>
    </a>
    <!-- /CONTACT BUTTON -->

    <!-- Services -->
    <section id="services">
      <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <a class="image-hover" href="#portfolio">
            <%= image_tag 'awards', alt: 'Awards and projects', class: 'img-fluid' %>              
            </a>

            <h3 class="mt-10">Awards &amp; projects</h3>
            <p>Discover our most recents awards &amp; projects</p>
            <a href="#portfolio" class="btn btn-default">SEE MORE</a>
          </div>

          <div class="col-sm-4">
            <a class="image-hover" href="residential.html">
            <%= image_tag 'wood_panel_elevator', alt: 'Residential', class: 'img-fluid' %>
            </a>

            <h3 class="mt-10">Residential services</h3>
            <p>If you wish to offer the best living experience!</p>
            <a href="residential.html" class="btn btn-default">SEE MORE</a>
          </div>

          <div class="col-sm-4">
            <a class="image-hover" href="commercial.html">
            <%= image_tag 'three_elevators', alt: 'Commercial', class: 'img-fluid' %>
            </a>

            <h3 class="mt-10">Commercial services</h3>
            <p>For world class professional elevators services.</p>
            <a href="commercial.html" class="btn btn-default">SEE MORE</a>
          </div>
        </div>
      </div>
    </section>
    <!-- /Services -->

    <!-- History -->
    <section
      class="parallax parallax-1"
      style="background-image: url('assets/blue_shaft.jpeg');"
    >
      <div class="overlay dark-5"></div>

      <div class="container">
        <div class="text-center">
          <h2 class="fs-40 fw-300">
            Commercial &amp; Residential elevator experts Since 1976
          </h2>
          <a class="btn btn-default btn-lg" href="/quote"
            >GET A QUOTE <i class="fa fa-angle-right"></i
          ></a>
          <p><br />OR</p>
          <a class="btn btn-default btn-lg" href="#contact"
            >CONTACT US <i class="fa fa-angle-right"></i
          ></a>
        </div>
      </div>
    </section>
    <!-- /History -->

    <!-- PORTFOLIO -->
    <section id="portfolio">
      <div class="container">
        <div class="heading-title heading-dotted text-center">
          <h2>Awards &amp; Featured Projects</h2>
        </div>

        <div class="text-center">
          <ul class="nav nav-pills mix-filter mb-60">
            <li data-filter="all" class="filter active">
              <a href="#">All</a>
            </li>
            <li data-filter="awards" class="filter">
              <a href="#">Awards</a>
            </li>
            <li data-filter="commercial" class="filter">
              <a href="#">Commercial</a>
            </li>
            <li data-filter="residential" class="filter">
              <a href="#">Residential</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="portfolio-nogutter">
        <div class="row mix-grid">
          <div class="col-md-3 col-sm-3 mix awards">
            <!-- award1-->

            <div class="item-box">
              <figure>
                <span class="item-hover">
                  <span class="overlay dark-5"></span>
                  <span class="inner">
                    <!-- lightbox -->
                    <a
                      class="ico-rounded lightbox"
                      href="assets/lca_awards.png"
                      data-plugin-options='{"type":"image"}'
                    >
                      <span class="fa fa-plus fs-20"></span>
                    </a>
                  </span>
                </span>
                  <%= image_tag "lca_awards", alt:"LCA Awards", class:"img-fluid", width:"600", height:"399" %>
          
              </figure>

              <div class="item-box-desc">
                <h3>London Construction Awards</h3>
              </div>
            </div>
          </div>
          <!-- /award1 -->

          <div class="col-md-3 col-sm-3 mix awards">
            <!-- award2-->

            <div class="item-box">
              <figure>
                <span class="item-hover">
                  <span class="overlay dark-5"></span>
                  <span class="inner">
                    <!-- lightbox -->
                    <a
                      class="ico-rounded lightbox"
                      href="assets/aca_awards.jpg"
                      data-plugin-options='{"type":"image"}'
                    >
                      <span class="fa fa-plus fs-20"></span>
                    </a>
                  </span>
                </span>
                <%= image_tag "aca_awards", alt:"ACA Awards logo", class:"img-fluid", width:"600", height:"399" %>
            
              </figure>

              <div class="item-box-desc">
                <h3>Autralian Construction Awards</h3>
              </div>
            </div>
          </div>
          <!-- /award2 -->

          <div class="col-md-3 col-sm-3 mix awards">
            <!-- award3-->

            <div class="item-box">
              <figure>
                <span class="item-hover">
                  <span class="overlay dark-5"></span>
                  <span class="inner">
                    <!-- lightbox -->
                    <a
                      class="ico-rounded lightbox"
                      href="assets/ce_awards.jpg"
                      data-plugin-options='{"type":"image"}'
                    >
                      <span class="fa fa-plus fs-20"></span>
                    </a>
                  </span>
                </span>
                <%= image_tag "ce_awards", alt:"CE Awards logo", class:"img-fluid", width:"600", height:"399" %>
    
              </figure>

              <div class="item-box-desc">
                <h3>Construction Excellence Awards</h3>
              </div>
            </div>
          </div>
          <!-- /award3 -->

          <div class="col-md-3 col-sm-3 mix awards">
            <!-- award4-->

            <div class="item-box">
              <figure>
                <span class="item-hover">
                  <span class="overlay dark-5"></span>
                  <span class="inner">
                    <!-- lightbox -->
                    <a
                      class="ico-rounded lightbox"
                      href="assets/nwrc_awards.jpg"
                      data-plugin-options='{"type":"image"}'
                    >
                      <span class="fa fa-plus fs-20"></span>
                    </a>
                  </span>
                </span>
                <%= image_tag "nwrc_awards", alt:"Northwest Regional Construction Awards logo", class:"img-fluid", width:"600", height:"399" %>
 
              </figure>

              <div class="item-box-desc">
                <h3>Northwest Regional Construction Awards</h3>
              </div>
            </div>
          </div>
          <!-- /award4 -->

          <div class="col-md-3 col-sm-3 mix residential">
            <!-- residential1 -->

            <div class="item-box">
              <figure>
                <span class="item-hover">
                  <span class="overlay dark-5"></span>
                  <span class="inner">
                    <!-- lightbox -->
                    <a
                      class="ico-rounded lightbox"
                      href="assets/large_residential_tube_elevator.jpg"
                      data-plugin-options='{"type":"image"}'
                    >
                      <span class="fa fa-plus fs-20"></span>
                    </a>
                  </span>
                </span>
                <%= image_tag "large_residential_tube_elevator", alt:"Large residential tube elevator", class:"img-fluid", width:"600", height:"399" %>
            
              </figure>

              <div class="item-box-desc">
                <h3>Futuristic look for your home</h3>
              </div>
            </div>
          </div>
          <!-- /residential1-->

          <div class="col-md-3 col-sm-3 mix residential">
            <!-- residential2-->

            <div class="item-box">
              <figure>
                <span class="item-hover">
                  <span class="overlay dark-5"></span>
                  <span class="inner">
                    <!-- lightbox -->
                    <a
                      class="ico-rounded lightbox"
                      href="assets/small_residential_tube_elevator.jpg"
                      data-plugin-options='{"type":"image"}'
                    >
                      <span class="fa fa-plus fs-20"></span>
                    </a>
                  </span>
                </span>
                <%= image_tag "small_residential_tube_elevator", alt:"Small residential tube elevator", class:"img-fluid", width:"600", height:"399" %>

              </figure>

              <div class="item-box-desc">
                <h3>Limited space installation</h3>
              </div>
            </div>
          </div>
          <!-- /residential2 -->

          <div class="col-md-3 col-sm-3 mix residential">
            <!-- residential3 -->

            <div class="item-box">
              <figure>
                <span class="item-hover">
                  <span class="overlay dark-5"></span>
                  <span class="inner">
                    <!-- lightbox -->
                    <a
                      class="ico-rounded lightbox"
                      href="assets/outdoor_square_residential_elevator.jpg"
                      data-plugin-options='{"type":"image"}'
                    >
                      <span class="fa fa-plus fs-20"></span>
                    </a>
                  </span>
                </span>
                <%= image_tag "outdoor_square_residential_elevator", alt:"Outdoor square residential elevator", class:"img-fluid", width:"600", height:"399" %>

              </figure>

              <div class="item-box-desc">
                <h3>Show it to the neighbourhood</h3>
              </div>
            </div>
          </div>
          <!-- /residential3 -->

          <div class="col-md-3 col-sm-3 mix residential">
            <!-- residential4 -->

            <div class="item-box">
              <figure>
                <span class="item-hover">
                  <span class="overlay dark-5"></span>
                  <span class="inner">
                    <!-- lightbox -->
                    <a
                      class="ico-rounded lightbox"
                      href="assets/white_square_residential_elevator.jpg"
                      data-plugin-options='{"type":"image"}'
                    >
                      <span class="fa fa-plus fs-20"></span>
                    </a>
                  </span>
                </span>
                <%= image_tag "white_square_residential_elevator", alt:"White square residential elevator", class:"img-fluid", width:"600", height:"399" %>

              </figure>

              <div class="item-box-desc">
                <h3>Fits with your house's style</h3>
              </div>
            </div>
          </div>
          <!-- /residential4 -->

          <div class="col-md-3 col-sm-3 mix commercial">
            <!-- commercial1 -->

            <div class="item-box">
              <figure>
                <span class="item-hover">
                  <span class="overlay dark-5"></span>
                  <span class="inner">
                    <!-- lightbox -->
                    <a
                      class="ico-rounded lightbox"
                      href="assets/loby_elevator.png"
                      data-plugin-options='{"type":"image"}'
                    >
                      <span class="fa fa-plus fs-20"></span>
                    </a>
                  </span>
                </span>
                <%= image_tag "loby_elevator", alt:"Loby elevator", class:"img-fluid", width:"600", height:"399" %>

              </figure>

              <div class="item-box-desc">
                <h3>Luxurious &amp; warm look</h3>
              </div>
            </div>
          </div>
          <!-- /commercial1-->

          <div class="col-md-3 col-sm-3 mix commercial">
            <!-- commercial2-->

            <div class="item-box">
              <figure>
                <span class="item-hover">
                  <span class="overlay dark-5"></span>
                  <span class="inner">
                    <!-- lightbox -->
                    <a
                      class="ico-rounded lightbox"
                      href="assets/commercial_glass_elevator.jpg"
                      data-plugin-options='{"type":"image"}'
                    >
                      <span class="fa fa-plus fs-20"></span>
                    </a>
                  </span>
                </span>
                <%= image_tag "commercial_glass_elevator", alt:"Commercial glass elevator", class:"img-fluid", width:"600", height:"399" %>

              </figure>

              <div class="item-box-desc">
                <h3>See how it works</h3>
              </div>
            </div>
          </div>
          <!-- /commercial2 -->

          <div class="col-md-3 col-sm-3 mix commercial">
            <!-- commercial3 -->

            <div class="item-box">
              <figure>
                <span class="item-hover">
                  <span class="overlay dark-5"></span>
                  <span class="inner">
                    <!-- lightbox -->
                    <a
                      class="ico-rounded lightbox"
                      href="assets/stainless_elevator.jpg"
                      data-plugin-options='{"type":"image"}'
                    >
                      <span class="fa fa-plus fs-20"></span>
                    </a>
                  </span>
                </span>
                <%= image_tag "stainless_elevator", alt:"Stainless elevators", class:"img-fluid", width:"600", height:"399" %>


              <div class="item-box-desc">
                <h3>Simple &amp; modern</h3>
              </div>
            </div>
          </div>
          <!-- /commercial3 -->

          <div class="col-md-3 col-sm-3 mix commercial">
            <!-- commercial4 -->

            <div class="item-box">
              <figure>
                <span class="item-hover">
                  <span class="overlay dark-5"></span>
                  <span class="inner">
                    <!-- lightbox -->
                    <a
                      class="ico-rounded lightbox"
                      href="assets/three_wooden_panel_elevator.jpg"
                      data-plugin-options='{"type":"image"}'
                    >
                      <span class="fa fa-plus fs-20"></span>
                    </a>
                  </span>
                </span>
                <%= image_tag "three_wooden_panel_elevator", alt:"Three wooden panel elevators", class:"img-fluid", width:"600", height:"399" %>

              </figure>

              <div class="item-box-desc">
                <h3>Classic &amp; warm look</h3>
              </div>
            </div>
          </div>
          <!-- /commercial4 -->
        </div>
      </div>
    </section>
    <!-- /PORTFOLIO -->

    <!-- OUR TEAM -->
    <section id="ourteam">
      <div class="heading-title heading-dotted text-center">
        <h2>Our Team</h2>
      </div>
      <section class="section-xs dark">
        <div class="container">
          <div
            class="owl-carousel text-center owl-testimonial m-0"
            data-plugin-options='{"singleItem": true, "autoPlay": 3500, "navigation": false, "pagination": true, "transitionStyle":"fade"}'
          >
            <a
              href="https://www.linkedin.com/uas/login%C3%A7ois-2a953021"
              target="_blank"
              ><div class="testimonial">
                <figure>
                  <%= image_tag "people_team_1", alt:"Rocket Elevators Developers Team", class:"rounded" %>

                </figure>
                <div class="testimonial-content p-0">
                  <p class="lead">Member of the development team.</p>
                  <cite>
                    Lediane
                    <span>Rocket Elevators</span>
                    <%= image_tag "logo_linkedin", alt:"LinkedIn Logo", width:"22" %>
               
                  </cite>
                </div></div
            ></a>
            <a
              href="https://www.linkedin.com/uas/login%C3%A7ois-2a953021"
              target="_blank"
              ><div class="testimonial">
                <figure>
                  <%= image_tag "people_team_2", alt:"Rocket Elevators Developers Team", class:"rounded" %>

                </figure>
                <div class="testimonial-content p-0">
                  <p class="lead">Leader &amp; Member of the development team.</p>
                  <cite>
                    Alexandre
                    <span>Rocket Elevators</span>
                    <%= image_tag "logo_linkedin", alt:"LinkedIn Logo", width:"22" %>
               
                  </cite>
                </div></div
            ></a>
            <a
              href="https://www.linkedin.com/in/genevieve-nadeau-647aa471/%C3%A7ois-2a953021"
              target="_blank"
              ><div class="testimonial">
                <figure>
                  <%= image_tag "people_team_3", alt:"Rocket Elevators Developers Team", class:"rounded" %>

                </figure>
                <div class="testimonial-content p-0">
                  <p class="lead"> Member of the development team.</p>
                  <cite>
                    Genevieve
                    <span>Rocket Elevators</span>
                    <%= image_tag "logo_linkedin", alt:"LinkedIn Logo", width:"22" %>
               
                  </cite>
                </div></div
            ></a>
            <a
              href="https://www.linkedin.com/in/mathieu-champagne-a14771119/"
              target="_blank"
            >
              <div class="testimonial">
                <figure>
                <%= image_tag "people_employee_of_the_month", alt:"Rocket Elevators Developers Team", class:"rounded" %>
                </figure>
                <div class="testimonial-content p-0">
                  <p class="lead">
                    Member of the development team.
                  </p>
                  <cite>
                    Mathieu
                    <span>Rocket Elevators</span>
                    <%= image_tag "logo_linkedin", alt:"LinkedIn Logo", width:"22" %>
          
                  </cite>
                </div></div
            ></a>
          </div>
        </div>
      </section>
    </section>
    <!-- /OURTEAM -->

    <!-- News -->
    <section id="news">
      <div class="container">
        <div class="heading-title heading-dotted text-center">
          <h2>Recent News &amp; Press release</h2>
        </div>

        <div
          class="owl-carousel owl-padding-10 buttons-autohide controlls-over"
          data-plugin-options='{"singleItem": false, "items":"2", "autoPlay": 4000, "navigation": true, "pagination": false}'
        >
          <div class="img-hover">
            <a
              href="https://edmontonjournal.com/life/homes/residential-elevators-are-on-the-rise"
              target="_blank"
            >
            <%= image_tag "news1", alt:"Residential elevator", class:"img-fluid" %>
           
            </a>

            <h4 class="text-left mt-20">
              <a
                href="https://edmontonjournal.com/life/homes/residential-elevators-are-on-the-rise"
                target="_blank"
              >
                Residential elevators are on the rise</a
              >
            </h4>
            <p class="text-left">
              While elevators were once reserved for highrise buildings or
              public accessibility situations, they’ve now branched into
              residential properties as well.
            </p>
            <ul class="text-left fs-12 list-inline list-separator">
              <li>
                <i class="fa fa-calendar"></i>
                May 25, 2019
              </li>
            </ul>
          </div>
          <div class="img-hover">
            <a
              href="https://www.washingtonpost.com/realestate/for-some-in-55-plus-communities-townhouses-with-elevators-meet-all-their-needs/2019/05/29/5a0dead8-2e39-11e9-813a-0ab2f17e305b_story.html?noredirect=on&utm_term=.f56732799e03"
              target="_blank"
            >
            <%= image_tag "news2", alt:"Residential building", class:"img-fluid" %>
           
            </a>

            <h4 class="text-left mt-20">
              <a
                href="https://www.washingtonpost.com/realestate/for-some-in-55-plus-communities-townhouses-with-elevators-meet-all-their-needs/2019/05/29/5a0dead8-2e39-11e9-813a-0ab2f17e305b_story.html?noredirect=on&utm_term=.f56732799e03"
                target="_blank"
                >For some in 55-plus communities, townhouses with <br />
                elevators meet all their needs</a
              >
            </h4>
            <p class="text-left">
              “Our home buyers may not need or want ‘no-stair’ living in their
              mid-50s when they originally purchase in an active-adult
              community, but as they age and mobility becomes a factor, the
              elevator is a ‘future-proof’ feature that alleviates a move to
              another home,” says Kim Ambrose, vice president of marketing at
              Miller & Smith.
            </p>
            <ul class="text-left fs-12 list-inline list-separator">
              <li>
                <i class="fa fa-calendar"></i>
                May 30 2019
              </li>
            </ul>
          </div>
          <div class="img-hover">
            <a
              href="https://economictimes.indiatimes.com/small-biz/productline/power-generation/elevator-ups-ensure-uninterruptible-power-supply-for-elevators-or-lifts-in-residential-commercial-and-industrial-establishments/articleshow/69577541.cms"
              target="_blank"
            >
            <%= image_tag "news3", alt:"Power generator", class:"img-fluid" %>
          
            </a>

            <h4 class="text-left mt-20">
              <a
                href="https://economictimes.indiatimes.com/small-biz/productline/power-generation/elevator-ups-ensure-uninterruptible-power-supply-for-elevators-or-lifts-in-residential-commercial-and-industrial-establishments/articleshow/69577541.cms"
                target="_blank"
                >Elevator UPS: Ensure uninterruptible power supply for
                elevators or lifts.</a
              >
            </h4>
            <p class="text-left">
              A UPS (Uninterruptible Power Supply) is used as an alternative
              to provide emergency power to a load when the main input power
              source fails. It is an electrical apparatus that also helps to
              address most of the common power problems in both residential as
              well as commercial areas. It also has the ability to store
              energy in batteries and use it in times of emergencies.
            </p>
            <ul class="text-left fs-12 list-inline list-separator">
              <li>
                <i class="fa fa-calendar"></i>
                May 30, 2019
              </li>
            </ul>
          </div>
          <div class="img-hover">
            <a
              href="https://www.marketbureau.us/55655/global-ultra-high-speed-elevator-market-2019-regional-outlook-and-industry-forecast-2024/"
              target="_blank"
            >
            <%= image_tag "news4", alt:"Futuristic looking elevator", class:"img-fluid" %>
             
            </a>

            <h4 class="text-left mt-20">
              <a
                href="https://www.marketbureau.us/55655/global-ultra-high-speed-elevator-market-2019-regional-outlook-and-industry-forecast-2024/"
                target="_blank"
                >Global Ultra High Speed Elevator Market 2019: Regional
                Outlook and Industry Forecast 2024.</a
              >
            </h4>
            <p class="text-left">
              The Global Ultra High Speed Elevator market research report
              unveils a sweeping analysis embracing all the essential facets
              of the global Ultra High Speed Elevator industry. It comprises
              vital details based on market size, share, competition,
              segments, sub-segments, regional marketplaces, and major
              participants.
            </p>
            <ul class="text-left fs-12 list-inline list-separator">
              <li>
                <i class="fa fa-calendar"></i>
                May 29, 2019
              </li>
            </ul>
          </div>
          <div class="img-hover">
            <a
              href="https://eccunion.com/news/2019/05/29/campus-plagued-by-elevator-entrapments-this-semester/"
              target="_blank"
            >
            <%= image_tag "news5", alt:"Two repairmen", class:"img-fluid" %>
          
            </a>
            <h4 class="text-left mt-20">
              <a
                href="https://eccunion.com/news/2019/05/29/campus-plagued-by-elevator-entrapments-this-semester/"
                target="_blank"
                >Campus plagued by elevator entrapments this semester</a
              >
            </h4>
            <p class="text-left">
              Elevator issues continue at El Camino College with the ninth
              reported elevator entrapment of the semester on Monday, April
              29, authorities said.
            </p>
            <ul class="text-left fs-12 list-inline list-separator">
              <li>
                <i class="fa fa-calendar"></i>
                May 29, 2019
              </li>
            </ul>
          </div>
          <div class="img-hover">
            <a
              href="https://advocator.ca/news/4-must-know-home-elevator-safety-tips/10247"
              target="_blank"
            >
             <%= image_tag "news6", alt:"Elevator safety buttons", class:"img-fluid" %>
            
            </a>
            <h4 class="text-left mt-20">
              <a
                href="https://advocator.ca/news/4-must-know-home-elevator-safety-tips/10247"
                target="_blank"
                >4 Must-Know Home Elevator Safety Tips</a
              >
            </h4>
            <p class="text-left">
              Home elevators are an improvement to your property, making your
              life easier and also adding value to your property. But as with
              all large equipment, you must take several precautions.
            </p>
            <ul class="text-left fs-12 list-inline list-separator">
              <li>
                <i class="fa fa-calendar"></i>
                May 22, 2019
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <!-- /News -->

    <!-- Clients -->
    <section id="clients" class="alternate">
      <div class="container">
        <div class="heading-title heading-dotted text-center">
          <h2>Our Clients</h2>
        </div>

        <ul class="row clients-dotted list-inline">
          <li class="col-md-3 col-sm-3 col-6">
            <a
              href="https://aliens.fandom.com/wiki/Zorg_Industries"
              target="_blank"
            >
            <%= image_tag "client01", alt:"Zorg Industries", class:"img-fluid" %>
            </a>
          </li>
          <li class="col-md-3 col-sm-3 col-6">
            <a href="https://en.wikipedia.org/wiki/LexCorp" target="_blank">
            <%= image_tag "client02", alt:"LuthorCorp", class:"img-fluid" %>
      
            </a>
          </li>
          <li class="col-md-3 col-sm-3 col-6">
            <a
              href="https://en.wikipedia.org/wiki/Wayne_Enterprises"
              target="_blank"
            >
            <%= image_tag "client03", alt:"Wayne Enterprises", class:"img-fluid" %>
            </a>
          </li>
          <li class="col-md-3 col-sm-3 col-6">
            <a
              href="https://breakingbad.fandom.com/wiki/Los_Pollos_Hermanos"
              target="_blank"
            >
            <%= image_tag "client04", alt:"Los Pollos Hermanos", class:"img-fluid" %>
       
            </a>
          </li>
          <li class="col-md-3 col-sm-3 col-6">
            <a
              href="https://en.wikipedia.org/wiki/S.H.I.E.L.D."
              target="_blank"
            >
            <%= image_tag "client05", alt:"S.H.I.E.L.D.", class:"img-fluid" %>
              
            </a>
          </li>
          <li class="col-md-3 col-sm-3 col-6">
            <a
              href="https://backtothefuture.fandom.com/wiki/Mr._Fusion"
              target="_blank"
            >
            <%= image_tag "client06", alt:"M. Fusion", class:"img-fluid" %>
             
            </a>
          </li>
          <li class="col-md-3 col-sm-3 col-6">
            <a
              href="https://residentevil.fandom.com/wiki/Umbrella_Corporation"
              target="_blank"
            >
            <%= image_tag "client07", alt:"Umbrella Corporation", class:"img-fluid" %>
        
            </a>
          </li>
          <li class="col-md-3 col-sm-3 col-6">
            <a href="https://pixar.fandom.com/wiki/Dinoco" target="_blank">
            <%= image_tag "client08", alt:"Dinoco", class:"img-fluid" %>

            </a>
          </li>
          <li class="col-md-3 col-sm-3 col-6">
            <a
              href="https://en.wikipedia.org/wiki/RoboCop_(franchise)#Omni_Consumer_Products"
              target="_blank"
            >
            <%= image_tag "client09", alt:"Omni Consumer Products", class:"img-fluid" %>
            
            </a>
          </li>
          <li class="col-md-3 col-sm-3 col-6">
            <a
              href="https://madmen.fandom.com/wiki/Sterling_Cooper_Draper_Pryce"
              target="_blank"
            >
            <%= image_tag "client10", alt:"Sterling Cooper Draper Price", class:"img-fluid" %>
          
            </a>
          </li>
          <li class="col-md-3 col-sm-3 col-6">
            <a
              href="https://pixar.fandom.com/wiki/Buy_n_Large"
              target="_blank"
            >
            <%= image_tag "client11", alt:"Buy N Large", class:"img-fluid" %>

            </a>
          </li>
          <li class="col-md-3 col-sm-3 col-6">
            <a
              href="https://en.wikipedia.org/wiki/Dharma_Initiative"
              target="_blank"
            >
            <%= image_tag "client12", alt:"Dharma Initiative", class:"img-fluid" %>

            </a>
          </li>
        </ul>
      </div>
    </section>
    <!-- /Clients -->

    <!-- CONTACT -->
    <section id="contact">
      <div class="container">
        <header class="text-center mb-60">
          <h2>Contact Us</h2>
        </header>

        <div class="row">
          <div class="col-md-8 col-sm-8">
            <h4>You have questions or want to leave a comment?</h4>
        
            <fieldset>

              <%= bootstrap_form_for(@lead) do |f| %>
              <div class="row">
                <div class="col-md-4">
                  <%= f.text_field :full_name, placeholder: "Adam John", label:"Full Name*" , required: true %>
                </div>
                <div class="col-md-4">
                  <%= f.email_field :email, placeholder: "adam.john@mail.com", label:"Email*", required: true %>
                </div>
                <div class="col-md-4">
                  <%= f.text_field :phone, placeholder: "999-999-9999", label:"Phone*", required: true %>
                </div>
                <div class="col-md-4">   
                  <%= f.text_field :company_name, placeholder: "Acme inc.", label:"Company Name*", required: true %>
                </div>
                <div class="col-md-4">
                  <%= f.select :department, [["--- Select ---", ""], ["Engineering", "Engineering"], ["Maintenance", "Maintenance"], ["Architecture", "Architecture"]], { label: "Department"} %>
                </div>
                <div class="col-md-8">
                  <%= f.text_field :project_name, placeholder: "Your project name", label: "Project name*", required: true %>
                </div>
                <div class="col-md-12">
                  <%= f.text_area :project_description, placeholder: "Describe your project with as much details as possible.", :rows => 4 %>
                </div>
                <div class="col-md-12">
                  <%= f.text_area :message, placeholder: "Leave your question or your comment here.", :rows => 4 %>
                </div>
                <div class="col-md-12">
                  <%= f.file_field :attachment_file, help: "Max file size: 10Mb (zip/pdf/jpg/png)" %>
                </div>

            
        

          <div class="row">
            <%= recaptcha_tags %>
            <%= f.submit "SEND MESSAGE", wrapper: { class: "btn" } %>
            
       
          </div>
          <% end %>
          
          </fieldset>
          
        </div>
        <!-- INFO -->
        <div class="col-md-4 col-sm-4">
          <h4>Visit Us</h4>
          <h4>Rocket Elevators</h4>
          <span class="block"
            ><strong><i class="fa fa-map-marker"></i> Address:</strong>
            <a href="https://goo.gl/maps/ebK9Uwg9rEwp4CeN9" target="_blank">
              <br />418-725 Boulevard Lebourgneuf,<br />
              Québec, QC,<br />
              G2J 0C4</a>
          </span>
          <span class="block"
                ><strong><i class="fa fa-phone"></i> Phone:</strong> (418)
                580-7055
          </span>
          <span class="block"
                ><strong><i class="fa fa-envelope"></i> Email:</strong>
                <a href="mailto:info@codeboxx.biz">info@codeboxx.biz</a>
          </span>
        </div>
            <!-- /INFO -->
        </div>
        </div>
        

      </div>
    </section>


    <!-- /CONTACT -->

    

  </div>
  <!-- /wrapper -->

  <!-- SCROLL TO TOP -->
  <a href="#" id="toTop"></a>

  <!-- PRELOADER -->
  <div id="preloader">
    <div class="inner">
      <span class="loader"></span>
    </div>
  </div>
  <!-- /PRELOADER -->